.card {
  background-color: hsl(0deg 21% 31%);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  height: 60vh;
  overflow: auto;
  font-size: 1em;
}

.card h3 {
  margin: 0;
}

.card p {
  text-align: left;
  font-size: 1em;
}
