.card {
  background-color: hsl(0, 0%, 10%);
  background-size: cover;
  overflow: auto;
  font-size: 1em;
  height: 95%;
  width: 25%;
  transition: all 0.4s;
}

.card:hover {
  box-shadow: 0 0 10px black;
  height: 100%;
  width: 28%;
  z-index: 1;
}

.card h3 {
  margin: 0;
  text-align: center;
}

.card p {
  text-align: left;
  font-size: 1em;
}

.card.active {
  box-shadow: 0 0 10px black;
  width: 100%;
  z-index: 1;
}
