@value sizes: "../../CSS-values/breakpoints.module.css";
@value small, medium, large from sizes;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 4 1 0;
  height: 95%;
  padding: 0;
  border: none;
  outline: none;

  font-size: 1em;
  overflow: hidden;
  user-select: text;

  background-color: hsl(0, 0%, 10%);
  background-size: cover;
  color: white;

  transition: all 0.6s;
}

.card:hover, .card:focus {
  flex: 5 1 0;
  height: 100%;
  z-index: 1;

  box-shadow: 0 0 10px black;
}

.card h3 {
  font-size: 2em;
}

.cardText {
  visibility: hidden;

  padding: 0;
  margin: 50px;

  font-size: 1.3em;
  text-align: left;

  list-style-type: none;
}

.cardText li {
  margin: 30px 0 30px 0;
}

.cardText a {
  color: yellow;
}

.card.active {
  flex: 20 1 0;

  box-shadow: 0 0 10px black;
  z-index: 1;
}

.card.active .cardText {
  visibility: visible;
}


@media small {
  .cardText {
    font-size: 1.2em;
  }
}

@media small, medium {
  .card {
    width: 100%;

    overflow: hidden;
  }

  .cardText {
    margin: 20px;
  }

  .card h3 {
    margin: 30px 0 30px 0;
    transform: unset;
  }
}
