.nav {
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav a {
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s;
}
.nav a:hover {
  background-color: rgb(120, 120, 120);
}
.nav a:active {
  background-color: white;
}

.title {
  background-color: rgb(85, 0, 51);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 5em;
}
.title h1 {
  text-align: center;
  margin: 0px;
}
.title ul {
  list-style: '- ';
}

.overview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 219, 196);
  min-height: 100vh;
  padding: 25px;
  font-size: 1.5em;
}
.overview .portrait {
  margin: 55px 20px 20px 0px;
}
.overview div {
  max-width: 600px;
}
.overview p {
  text-align: justify;
}

.projects {
  display: flex;
  flex-direction: column;
  background-color: rgb(138, 28, 0);
  height: 100vh;
  padding: 25px;
  color: white;
}
.projects h2 {
  font-size: 2em;
  margin: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-size: 2em;
  padding: 25px;
}
.contact h2 {
  margin: auto;
}
.contact ul {
  list-style-type: none;
  margin: auto;
}
