.nav {
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav a {
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s;
}
.nav a:hover {
  background-color: rgb(120, 120, 120);
}
.nav a:active {
  background-color: white;
}

.title {
  background-color: rgb(85, 0, 51);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 5em;
}
.title h1 {
  text-align: center;
  margin: 0px;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 219, 196);
  min-height: 100vh;
  padding: 10px;
  font-size: 1.5em;
}
.overview div {
  max-width: 50%;
}
.overview p {
  text-align: justify;
}

.projects {
  background-color: rgb(138, 28, 0);
  height: 100vh;
  padding: 10px;
  color: white;
}

.interests {
  background-color: rgb(243, 214, 232);
  min-height: 100vh;
}

.contact {
  text-align: center;
  background-color: rgb(74, 0, 74);
  color: white;
  font-size: 2em;
  padding: 10px;
}
