@value sizes: "./CSS-values/breakpoints.module.css";
@value small, medium, large, small-height, XL from sizes;

.projects {
  display: flex;
  flex-direction: column;

  padding: 10vh 0 3vh 0;

  background-color: hsl(11deg 100% 42%);
  color: white;
}

.projects h2 {
  padding: 10px 0 30px 0;
  margin: auto;

  font-size: 3em;
}

@media small, medium {
  .projects {
    height: auto;
  }
}
