.display {
  text-align: center;
  font-size: 2em;
  height: 90%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}

.arrow {
  background-color: transparent;
  border-style: none;
  color: white;
  cursor: pointer;
  font-family: monospace;
  font-size: 3em;
  outline: none;
  user-select: none;
}
