.display {
  display: flex;
  align-items: center;

  height: 100%;

  background-color: rgba(0,0,0,0.7);
}


@media (max-width: 900px) {
  .display {
    flex-direction: column;

    height: auto;
  }
}
